@CHARSET "utf-8";

table.table_css{
	/*
	border-style:solid;
	rules:all;
	cellpadding:5px;
	
	border:3px #FFAC55 dashed;
	padding:5px; 
	rules:all; 
	cellpadding:5;
	*/
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.table_css th{
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.table_css td{
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}